<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">
<!--以后 service 以及dao全部交给springIOC来管理，这个时候，就需要一个配置文件applicationContext.xml,-->
<!--    这样，后面的service 和dao就能用注解了，只要spring在这个配置文件中配置好了就行-->
<!--    开启注解扫描-->
<!--    <context:component-scan base-package="cn.gxnualbert"/>  这句话表示，gxnualbert后面的controller，
dao,service,domain全部都会被扫描到。但是，我们这里主要是讲spring 跟mybatis整合，还有另一部分就是将spring 和spring MVC整合
controller 这一层，先不管，因为后面controller这一层由springmvc来处理。
到后面前后端分离的时候，应该就是由spring 来管理controller了，后面再看看。
综上所述，我们在这里要将controller排除出来，不扫描controller
-->
<!--    开启注解扫描，希望处理service和dao，controller不需要spring框架去处理-->
    <context:component-scan base-package="cn.gxnualbert">
            <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <!--Spring整合MyBatis框架-->
    <!--配置连接池-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://47.106.181.121:3306/ssm?characterEncoding=utf-8"/>
        <property name="user" value="root"/>
        <property name="password" value="danbaytest123"/>
    </bean>

    <!--配置SqlSessionFactory工厂-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <!--配置AccountDao接口所在包-->
    <bean id="mapperScanner" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="cn.gxnualbert.dao"/>
    </bean>

    <!--配置Spring框架声明式事务管理-->
    <!--配置事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <!--配置事务通知-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="find*" read-only="true"/>
            <tx:method name="*" isolation="DEFAULT"/>
        </tx:attributes>
    </tx:advice>

    <!--配置AOP增强-->
    <aop:config>
        <aop:advisor advice-ref="txAdvice" pointcut="execution(* cn.gxnualbert.service.impl.*ServiceImpl.*(..))"/>
    </aop:config>

</beans>

